.font-face{
    font-family: 'Roboto-Thin-Italic';
    src: url(./../../resources/fonts/Roboto-ThinItalic.ttf) format('ttf');
}

.font-face{
    font-family: 'Roboto-Light';
    src: url(./../../resources/fonts/Roboto-Light.ttf) format('ttf');
}

.font-face{
    font-family: 'Roboto-Regular';
    src: url(./../../resources/fonts/Roboto-Regular.ttf)format('ttf');
}

.font-face{
    font-family: 'Roboto-Medium';
    src: url(./../../resources/fonts/Roboto-Medium.ttf)format('ttf');
}
