// Primary colors
$primary-white: #ffffff;
$primary-blue: #003d7c;
$primary-blue-light: #1f57a9;
$primary-blue-lighter: #436ba0;
$primary-turquiose: #346b84;
$primary-orange: #e06245;
$primary-orange-2: #ff5e59;

// Secondary colors
$chrome: #ef7c00;
$blue-secondary: #4664ca;
$grey-secondary: #949494;
$orange-secondary: #f2b3a5;

// Tertiary colors
$tertiary-green: #428c7d;
$tertiary-violet: #6c4df6;
$tertiary-pink: #9d3ea5;
$tertiary-orange: #e75e29;
$tertiary-yellow: #f5cd45;

// Indicators
$error: #bf2600;
$success: #006644;
$warning: #ff991f;

// neutral colors
$grayscale-1: #182233;
$grayscale-2: #39404f;
$grayscale-3: #585e6c;
$grayscale-4: #757c86;
$grayscale-5: #b2b8bd;
$grayscale-6: #d4d6da;
$grayscale-7: #dfe1e4;
$grayscale-8: #ecedef;

// contrasting colors & palatte
$green-contrast: #005538;
$green-contrast-2: #233f07;
$green-contrast-3: #416400;
$turquoise-contrast: #00525b;
$blue-contrast: #152686;
$purple-contrast: #321683;
$burgundy-contrast: #63230d;
$burgundy-contrast-2: #8b4400;
$burgundy-contrast-3: #7c1a4a;
$burgundy-contrast-4: #550b27;

//monochromatic palatte
$mono-grey-1: #acb3ca;
$mono-grey-2: #7e8aaa;
$mono-blue-1: #002f68;
$mono-blue-2: #002155;
